.controlPanel {
  font-family: "Averta";
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 40px;
  border: 2px solid $border;
  border-radius: 10px;
  margin: 10px 0 20px;
  &__title {
    font-size: 34px;
    text-align: center;
    padding-bottom: 30px;
  }
  &__sort {
    width: 50%;
  }
  &__view {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__button {
    @include mainBtn;
    padding: 10px 15px;
    width: 30%;
    margin: 10px 0;
    &:hover {
      box-shadow: inset 0px 0px 0px 1px $deepViolet;
      transform: scale(1.1);
      transition: all 0.5s;
      &:after {
        width: 110%;
      }
    }
    &_wide {
      width: 45%;
    }
  }
}

.is-checked {
  background-color: $cheked;
  color: #ffff;
  outline: none;
  border: 1px solid $skyBlue;
  transition: transform 0.1s;
}
